include pug_helper/mixin.pug
html
  head
    include pug_helper/linker_prodect.pug
  body
    include pug_helper/header.pug
    div(class="choose-page")
      div(class="contenr")
        div(class="chece-page") 
           
    +small_card   
    include pug_helper/footer.pug
    include pug_helper/link_javascript.pug
    