include pug_helper/mixin.pug
html
  head
    include pug_helper/linker_prodect.pug
  body
    include pug_helper/header.pug
    div(class="contant-page")
      div(class="contenr")
        div(class="contant-section")
          h1  contact us
          div(class="row1")
            form(action="#" class="contact-form")
              div(class="form-group")
                h2 Send us a message
              div(class="form-group")
                input(type="text" class="form-control" placeholder="Your Name" dir="auto" ) 
              div(class="form-group")
                input(type="text" class="form-control" placeholder="Your Email")
              div(class="form-group")
                input(type="text" class="form-control" placeholder="Subject" dir="auto")
              div(class="form-group")
                textarea(name="" id="" cols="30" rows="7" class="form-control" placeholder="Message that can help without it" dir="auto")
              div(class="form-group")
                input(type="submit" value="Send Message" class="btn-contant btn-submit" )

            


          // row 2
          div(class="row1")
            div(class="tool-contant")
              i(class="ti-location-pin icon-contant")
              div(class="media-contant")
                span(class="address-icon-contant") address
            div(class="tool-contant")
              span(class="info-icon-contant")   Yemen, Ibb, Taiz street
            div(class="tool-contant")
              i(class="fa fa-phone icon-contant")
              div(class="media-contant")
                span(class="address-icon-contant") Lets Talk
            div(class="tool-contant")
              span(class="info-icon-contant")   772457246 \ 714899800
            div(class="tool-contant")
              i(class="ti-email icon-contant")
              div(class="media-contant")
                span(class="address-icon-contant") Sale Support
            div(class="tool-contant")
              span(class="info-icon-contant")  dhiaamostafe@gmail.com 


        div(class="map-contant")
          img(src="img/map.png" alt="" class="img-map")
          //img(src="img/4e.png" alt="" class="img-comp-contant")


    +small_card
    include pug_helper/footer.pug
    include pug_helper/link_javascript.pug