// footer
footer
  div(class="contenr")
    // inforamtion footer
    // row 1
    
    div(class="row1")
      span
      img(src="img/4.png", alt="",class="com_foolter_img")
      h2(class="name_working") Follow Us on sotial  media
      ul(class="navber")
        li(class="lst_nav"): a(href="#" class="link_nav"): i(class="ti-facebook")
        li(class="lst_nav"): a(href="#" class="link_nav"): i(class="ti-twitter-alt")
        li(class="lst_nav"): a(href="#" class="link_nav"): i(class="ti-instagram")
        li(class="lst_nav"): a(href="#" class="link_nav"): i(class="ti-linkedin")
    // row 2
    div(class="row1")
      div(class="number_connect_flooter")
        div(class="name_footer")
          h2 Contact us
        i(class="ti-location-pin"): span   Yemen, Ibb, Taiz street
        i(class="ti-mobile"): span   772457246 \ 714899800
        i(class="ti-email"): span  alshore@gmail.com  
    // row 3
    div(class="row1")
      div(class="number_connect_flooter")
        div(class="name_footer")
          h2 Contact us
        p  about us
        p  Contact us
        p  FAQs & Help
      .clearflex

    //end  inforamtion footer
div(class="end-footer")
  p Copyright © 2019 Tini | All rights reserved Designed by Ibb team.

