div(class="header")
      div(class="contenr")
        div(class="top-head")
            div(class="name-company")
              img(src="img/4e.png"  alt="")
              button(class="btn_small_screen btn_sml_head" type="button")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            ul(class="navber nav-top js_nav_small")
              li(class="lst_nav"): a(href="index1.html" class="link_nav") home
              li(class="lst_nav")
                a(href="prod.html" ,class="link_nav")  man
                div(class="dropdown")
                  a(href="#" ) new arials
                  a(href="#" ) cloths
                  a(href="#" ) shose
                  a(href="#" ) accessors


                  
              li(class="lst_nav")
                a(href="prod.html" ,class="link_nav")  weman
                div(class="dropdown")
                  a(href="#" ) new arials
                  a(href="#" ) cloths
                  a(href="#" ) shose
                  a(href="#" ) accessors

              li(class="lst_nav"): a(href="contant.html" class="link_nav") connect
              li(class="lst_nav"): a(href="#" class="link_nav") applition
              li(class="lst_nav")
                ul(class="nav-icon")
                  li: a(href="#" ): i(class="ti-search search-home")
                  li: a(href="#" ): i(class="fa fa-user")
                  li: a(href="cheece.html" ): i(class="ti-heart")
                  li: a(href="#" ): i(class="ti-shopping-cart icon-card")
                  li
                    a(href="#" )
                     form
                      select
                         option(value="english" ) english
                         option( select, value="arbic") arbic    
                    
        // start search section
        div(class="search panel-search inp-search-home")
          form(action="#" method="post")
            input(type="search" , class="input_search")
        // end search section
