
/* start all button */
button , .btn-submit
{
  height: 50px;
  width: 140px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
  color: $color_btn;
  @include font_line;
  background-color:$color_back_btn ;
  cursor: pointer;
  z-index: 1;
 
  &:hover
  {

    color: $color_btn;
    background-color: $color_btn_hover;
  }


}
/* end  all button */
// btn meun hidden
.btn_small_screen
{
  background-color: $color_back_btn;
  border: none;
  cursor: pointer;
  display: none;
  padding: 9px;
  border: none;
  border-radius: 6px;
  float: $floot_right;
  width: 64px;
  height: 39px;
  @include wide-mobile
  {
    display: block;

  };
  @include cmq
  {
    display: block;

  };
  SPAN
{
  display: block;
  width: 50px;
  height: 4px;
  background-color: $color_btn;
  margin-bottom: 3px;
  &:last-child
  {
    margin-bottom: 3px;
  }
}
}
/* start all small  button hide */
.srch_info_sect
{
  span 
  {
    padding-left: 10px;
  }
}