footer
{
  width: 100%;
  display: inline-block;
  color: $color_footer;
  background-color: $color_back_footer;
  

  .row1
  {
    text-align: $text_align_left;
    padding-top: 15px;
    position: relative;
    &:first-of-type
    {
      span {
       position: absolute;
       top: 10%;
       right: 0;
       width: 1px;
       height: 80%;
       background-color: $color_footer;
       @include wide-mobile
       {
         
         width: 0;
       };
       @include cmq
       {
         
         width: 0;
       };


      }
    }
    @include medium
    {
      max-width: (99% / 3);
      padding-left: 50px;
    };
    @include mobile
    {
      max-width: (99% / 3);
      padding-left: 20px;
    };
    @include wide-mobile
    {
      max-width: (99% / 1);
      padding-left: 20px;
      text-align: center;
      border-bottom: 1px solid;
 
      
    };
    @include cmq
    {
      max-width: (99% / 1);
      padding-left: 50px;
      text-align: center;
      border-bottom: 1px solid;

    };
    
   
    // row1 information company
    .com_foolter_img
    {
      width: 44%;
      height: 91px;
      padding-top: 10px;
      
    }
    .name_working
    {
      padding: 44px 0px;
      position: relative;
      font-size: 26px;
      &::after
      {
        content: ' ';
        width: 285px;
        height: 4px;
        background-color: white;
        position: absolute;
        top: 72px;
        left: 0;
        @include wide-mobile
        {
         contain: none;
         position: relative;
      
        };
        @include cmq
       {
        contain: none;
        position: relative;

       };
      }
    }




   .navber li
   {  
      color: $color_footer;
      font-size: 35px;
      display: inline-block;
      text-align: center;
    a
    { 
      color: $color_footer;
      &:hover
      {
      color: $color_footer;
      }
    }
   }

    /* head-connect footer */

    .number_connect_flooter
    {
    width: 100%;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    h2
    {
      padding-bottom: 20px;
      position: relative;
      width: 100%;
      font-size: 28px;
      &::after
      {
      content: ' ';
      width: 130px;
      height: 4px;
      background-color: $color_footer;
      position: absolute;
      top: 33px;
      left: 0;
      @include wide-mobile
        {
         contain: none;
         position: relative;
      
        };
        @include cmq
       {
        contain: none;
        position: relative;

       };
      
      
      }
    }
    p,i
    { 
      font-size: 24px;
      line-height: 68px;
      padding-left: 5px;
      cursor: pointer;
      span 
      {
        font-size: 22px;
        font-weight: bold;
      }
    }

  }
  
 }

}
 /* end footer */
 .end-footer
 {
   width: 100%;
   margin: 10px auto;
   text-align: $text_align_center;
   @include font_line;
   font-size: 19px;
 }
