.header
{
  width: 100%;
  @include font_line;
  background-color: $color_back_header;
  background-size: cover;
  display: block;
  .top-head
  {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding-top: 20px;
    // name company
    .name-company
    {   float: left;
        
        @include  medium
        {
          width: 12%;
          

        };

        @include  mobile
        {
            width: 16%;
            

        };
        @include wide-mobile
        {
            width: 100%;
            

        };
        @include cmq
        {
            width: 100%;
           

        };
        img 
        {
          width: 100px;
          height: 86px;
        }
    }
    //name top
    // start nav top header
    .nav-top
    {
        padding: 27px 19px;
        float: $floot_left;
        color: $color_header;
        @include  medium
        {
          max-width: 84%;
          float: $floot_left;

        };

        @include  mobile
        {
            max-width: 84%;
            float: $floot_left;

        };
        @include wide-mobile
        {
          float: none;
          max-width: 100%;
          display: none;
        };
        @include cmq
        {
            float: none;
            max-width: 100%;
            display: none;
        };

        .lst_nav:last-of-type
        {
          float: $floot_right;
        }

       .nav-icon
       {
        list-style: none;
        width: 100%;
        color: $color_header;
        padding-left: 0px;
        font-size: 20px;
        li 
        {
          float: $floot_left;
          a 
          {
            display: inline-block;
		        color: white;
		        text-align: center;
		        padding: 14px 16px;
		        text-decoration: none;
          }
        }
       }
    }
    // start nav top header
    
  }

}
