
// header in home 
.header
{
  height: 0;
}


// img img-prodect


 .image_animation_home_head
 {
  .img-prodect
  {
   width: 100%;
   height: 500PX;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   z-index: 1;
   
  }  
  

  .owl-nav
  {  font-size: 20px;
     color: #1c1c1c;
     background: blue;
     border-radius: 54px;
    .owl-prev
    {
      font-size: 18px;
      height: 50px;
      width: 50px;
      line-height: 70px;
      text-align: center;
      border: 1px solid #ebebeb;
      position: absolute;
      left: 0px;
      top: 50%;
      @include transform(translateY(-35px)) ;
      
    }
    .owl-next
    {
      font-size: 18px;
      height: 50px;
      width: 50px;
      line-height: 70px;
      text-align: center;
      border: 1px solid #ebebeb;
      position: absolute;
      right:  0px;
      top: 50%;   
      @include transform(translateY(-35px)) ;
      
    }
  }
 
 }

 




// new home
.div_section_home
{
   max-width: 100%;   
   margin-bottom: 40px;


  .top_section
  { @include font_line;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 3px 0px;
    font-size: 30px;
    text-align: $text_align_center;
    
  }
  //navber section home
    .nav-section
    { 
      width: 100%;
      display: block;
     position: relative;
     overflow: hidden;
  }
  // end navber section home
  /* stare image clothes section*/
  .image_clothes
  { display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
  };
/* end image clothes section*/
}
