
.navber
{
	list-style: none;
	width: 100%;
	color: $color_header;
	padding-left: 0px;
	font-size: 20px;
    text-transform: capitalize;
	@include medium
    {
		float: $floot_left;
    };
    @include mobile
    {
		float: $floot_left;
    };
    @include wide-mobile
    {
	  float: none;
	  max-width: 100%;
    };
    @include cmq
    {
		float: none;
		max-width: 100%;
    };
	.lst_nav
	{
		float: $floot_left;
		
	@include medium
    {
		float: $floot_left;
    };
    @include mobile
    {
		float: $floot_left;
    };
    @include wide-mobile
    {
	  float: none;
	  max-width: 100%;
	  padding: 3px;
	  text-align: $text_align_left;
    };
    @include cmq
    {
		float: none;
		max-width: 100%;
		padding: 3px;
		padding: 3px;
		text-align: $text_align_left;
    };
		.link_nav
		{
		 display: inline-block;
		 color: white;
		 text-align: center;
		 padding: 14px 10px;
		 text-decoration: none;
		}
		.active,.link_nav:hover
        {
        color: blue;
         }
		div
		{
			display: none;
	        position:fixed ;
	        background-color:white;
			width: 160px;
			z-index: 2000;
			a 
			{
			  color: black;
		      padding: 12px 16px;
		      text-decoration: none;
		      display: block;
			  text-align: left;
			  border-top: 1px solid;
			  &:hover
			  {
				border-left: 5px solid red;  
				border-top: 1px solid red;
			  }
			}
		}
	 &:hover div
	 {
		display:block;
	 }	
	}
	
}


/* navber in selection */
.nav-sec {
    text-align: center;
	margin-bottom: 50px;
   
    @include cmq
    {
		
		max-width: 100%;
		text-align: $text_align_left;
    };
	 ul li {
		list-style: none;
		font-size: 25px;
		display: inline-block;
		margin-right: 20px;
		position: relative;
		cursor: pointer;
		text-transform: capitalize;
		@include wide-mobile
		{
		  
			font-size: 25px;
			margin-right:16px ;
		};
		@include cmq
		{
			
			font-size: 20px;
			margin-right:16px ;
		};
		&:hover
	  {
		color: $color_header_hover;
		font-weight: bold;
		text-decoration: underline;
	  }
	}
}
