.section_prodect
{
  max-width: 100%;
  margin-bottom: 40px;
  max-width: 100%;
  display: block;
  overflow: hidden;
  /*  start top section*/
  .top_section
  {
    max-width: 100%;
    display: block;
    overflow: hidden;

  .nav-section
  {
    width: 60%;
    float: $floot_left;
    .nav-sec
    {
      text-align: $text_align_left;
      margin-bottom: 0;
      padding-top: 10px;
    }
    @include wide-mobile
     {
       width: 100%;
     };
     @include cmq
     {
       width: 100%;
     };
  }

  .srch_end_info_section
   {
     width: 40%;
     float: $floot_right;
     padding-bottom: 20px;
     padding-top: 30px;
     @include wide-mobile
     {
       width: 100%;
     };
     @include cmq
     {
       width: 100%;
     };
     .srch_info_sect
     {
       float: $floot_right;
       padding-right: 10px
     }
     .btn_small_screen
     {
       float: $floot_left;
     }

   }
    
  }
  //end top section
  /* stat information clothes section*/
 .information_clothes
 {
   width: 100%;
   display: none;
   overflow: hidden;
   background-color: #c8d2d5;
   .table_info_clothes
   {
     width: 100%;
     @include font_line;
     font-size: 16px;
     font-family: sans-serif;
     float: $floot_left;
     padding: 6px 22px;
     thead
     {
       font-size: 20px;
       font-weight: bold;
     }
     tr
     {
       height: 30px;
       text-align: $text_align_left;
       color: black;
        a 
        {
          text-decoration: none;
          &:hover
          {
            color: blueviolet;
            cursor: pointer;
            font-weight: bold;

          }
        }
      
     }
   }
 }
 /* end information clothes section*/
 /* start image-section-prodect section*/  
 .image-section-prodect 
 { 
  position: relative;
	display: block;
  overflow: hidden;
  max-width: 100%;
  .product_image
  {
    @include medium
    {
      max-width: (94% /4);
      
    };
    @include mobile
    {
      max-width: (95% / 3);
    };
    @include wide-mobile
    {
      max-width: (95% / 2);
    };
    @include cmq
    {
      max-width: (95% / 1)
    };
  };
 }
 /* end image-section-prodect section*/
}
